*{
  margin: 0;
  padding: 0;
  font-family:'Inter', serif;
  font-size: 12px;
  line-height: 22px;
}
:root{
  --color-border-rate:#E9D100;
  --color-birth:#827E7E;
  --color-button-outline:#D9D9D9;
  --color-box-shadow: rgba(34, 60, 80, 0.2);
  --color-links:rgba(0, 0, 0, 0.65);
  --color-hover-link:#1890FF;
}
#root{
  width: 1010px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*links*/
.root__links{
  margin: 0 auto;
  width: 146px;
  border-bottom: 1px solid var(--color-button-outline);
  margin-bottom: 20px;
  text-align: center;
  box-sizing:border-box;
}

a{
  display: inline-block;
  font-size: 1.1rem;
  margin-right: 20px;
  padding-bottom: 10px;
  margin-top: 32px;
  text-decoration: none;
  color: var(--color-links);
  
}

.hover-link:hover{
  padding-bottom: 8px;
  color: var(--color-hover-link);
  border-bottom: 2px solid var(--color-hover-link);
}

.root__form{
  margin: 0 auto;
}

.form__search{
  width: 938px;
  height: 40px;
  margin-bottom: 35px;
  border: 1px solid var(--color-button-outline);
  border-radius: 4px;
}

.form__search[placeholder]{
  font-size: 16px;
  padding-left: 10px;
}

/* .list-items */
.list-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  margin: 0 auto;
}


/* items */
.item__header{
  display: flex;
  justify-content: space-between;
}
.item__rate{
  padding: 6px;
  border: 2px solid var(--color-border-rate);
  border-radius: 50%;
}
.item__title{
  font-size: 20px;
  line-height: 28px;
  align-self: center;
}
.item__birth{
  margin-bottom: 5px;
  color: var(--color-birth);
}

.list__item{
  display:flex;
  height: 281px;
  width: 454px;
  box-shadow: 4px 4px 8px -4px var(--color-box-shadow);
}
.list__item img{
  width: 183px;
  height: 100%;
}

.item__info {
  width: 268px;
  margin: 12px 20px 50px 20px;
}
.item__category-list{
  display: flex;
}
.item__category-item{
  width: 46px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgba(0, 0, 0, 0.65);
  padding: 4px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid var(--color-button-outline);
}

.item__description{
  margin-top: 5px;
  margin-bottom: 10px;
}

/*pages*/
.root__pages{
  margin: 40px auto 17px;
  width: 200px;
  height: 24px;
  text-align: center;
}